{% extends "Layout.html" %}
{% block content %}
    <h1>Seleccione una fecha para realizar su reserva</h1>
    <div class="content-section">
        <form method="POST" action = "">
            {{ form.hidden_tag() }}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Buscar fechas</legend>
                <div class = "form-group">
                    {{ form.dateStart.label(class = "form-control-label") }}
                    {% if form.dateStart.errors %}
                        {{ form.dateStart(class = "dtpick form-control-lg is-invalid") }}
                        <div class = "invalid-feedback">
                            {% for error in form.dateStart.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.dateStart(class = "dtpick form-control-lg") }}
                    {% endif %}
                </div>
                <div class = "form-group">
                    {{ form.dateFinish.label(class = "form-control-label") }}
                    {% if form.dateFinish.errors %}
                        {{ form.dateFinish(class = "dtpick form-control-lg is-invalid") }}
                        <div class = "invalid-feedback">
                            {% for error in form.dateFinish.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.dateFinish(class = "dtpick form-control-lg") }}
                    {% endif %}
                </div>
                <div class = "form-group">
                    {{ form.totPeople.label(class = "form-control-label") }}
                    {% if form.totPeople.errors %}
                        {{ form.totPeople(class = "form-control form-control-lg is-invalid") }}
                        <div class = "invalid-feedback">
                            {% for error in form.totPeople.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.totPeople(class = "form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class = "form-group">
                {{ form.submit(class = "btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock %}