{% extends "Layout.html" %}
{% block content %}
<h1 class="content-section-heading text-center">Habitaciones</h1>
    {% for Acomodacion in acomodaciones %}
            <article class="media content-section">
                <div class="media-body">
                <div class="article-metadata">
                    <a>{{ (habitaciones|selectattr('acomodacion', 'eq', Acomodacion)|first).id }}</a>
                    <small class="text-muted"> capacidad: {{ (habitaciones|selectattr('acomodacion', 'eq', Acomodacion)|first).capacidad }} personas/s </small>
                </div>
                <h2><a class="article-title" href="/booking/{{Acomodacion}}">{{ (habitaciones|selectattr('acomodacion', 'eq', Acomodacion)|first).acomodacion }}</a></h2>
                <p class="article-content">precio: {{ (habitaciones|selectattr('acomodacion', 'eq', Acomodacion)|first).precio }} por noche</p>
                </div>
            </article>
    {% endfor %}
{% endblock %}